---
const year = (new Date()).getFullYear();
---

<section class="flex justify-center">
    <button>Api</button>
    <button>GitHub</button>
    <button>About</button>
</section>
<section class="my-5 flex justify-center  text-maize">
    {year} MeasurementsTool
</section>

<style>
    button {
        @apply py-1 px-3 m-1 font-semibold rounded-full shadow-md bg-oxford_blue  text-maize hover:bg-munsell;
    }
</style>
