---
const year = (new Date()).getFullYear();
---

<section class="flex justify-center mt-20">
    <button>
        <a href="https://github.com/Sergi0Martin/MeasurementsTool" title="GitHub" target="_blank"
        rel="noopener noreferrer">GitHub</a>
    </button>
    <button>
        <a href="https://www.nuget.org/packages/MeasurementsTool/" title="NuGet" target="_blank"
        rel="noopener noreferrer">NuGet</a>
    </button>
</section>
<section class="my-5 flex justify-center  text-maize">
    {year} MeasurementsTool
</section>

<style>
    button {
        @apply py-1 px-3 m-1 font-semibold rounded-full shadow-md bg-oxford_blue  text-maize hover:bg-munsell;
    }
</style>
