---
const year = (new Date()).getFullYear();
---

<section class="flex justify-center">
    <button class="bg-violet-700">Api</button>
    <button>GitHub</button>
    <button>About</button>
</section>
<section class="my-5 flex justify-center">
    {year} MeasurementsTool
</section>

<style>
    button {
        @apply py-1 px-3 m-1 font-semibold rounded-full shadow-md bg-violet-700 hover:bg-violet-800;
    }
</style>
