---
import GetStartedCard from "./GetStartedCard.astro";

---

<h1 class="dark:text-maize text-xl font-bold">Get starded</h1>

<div class="flex flex-row justify-center text-center ">
   <GetStartedCard name="Quickstart"/>
   <GetStartedCard name="Guides"/>
   <GetStartedCard name="Examples"/>
</div>