---
---

<h1 class="dark:text-maize text-xl font-bold">Get starded</h1>

<div class="flex flex-row justify-center text-center ">
    <card class="bg-munsell bg-scroll flex flex-col justify-center text-center  bg-indigo-400 rounded-xl shadow-lg h-44 w-44 m-1">
        <h1 class="text-l text-[#FFFFFF]">
            Quickstart
        </h1>
    </card>

    <card class="bg-munsell bg-scroll flex flex-col justify-center text-center bg-indigo-400 rounded-xl shadow-lg h-44 w-44 m-1">
        <h1 class="text-l text-[#FFFFFF]">
            Guides
        </h1>
    </card>

    <card class="bg-munsell bg-scroll flex flex-col justify-center text-center bg-indigo-400 rounded-xl shadow-lg h-44 w-44 m-1 ">
        <h1 class="text-l text-[#FFFFFF]">
            Examples
        </h1>
    </card>
</div>