---
import WeightCodeSample from './WeightCodeSample.astro'
import CopyCommand from './CopyCommand.astro'

---
<h1 class="dark:text-maize text-xl font-bold">Get starded</h1>
<CopyCommand/>
<WeightCodeSample/>

