---

---

<div class="expressive-code">
    <pre>
        <code>
            <div class="ec-line">
                <div class="code">
                    <span style="color:#8B909D"># Create a new Astro 4.0 project:</span>
                </div>
            </div>
            <div class="ec-line">
                <div class="code">
                    <!-- ejemplo => WeightUnitType.KG.ConvertTo(WeightUnitType.OZ, 9000.50); -->
                    <span style="color:#FFD493">WeightUnitType</span>
                    <span style="color:#EEF0F9">.</span>
                    <span style="color:#00DAEF">KG</span>
                    <span style="color:#EEF0F9"> </span>
                    <span style="color:#FFD493">WeightUnitType.KG.ConvertTo(WeightUnitType.OZ, 9000.50);</span>
                </div>
            </div>
        </code>
    </pre>
</div>

<!-- 
<div class="expressive-code">
    <pre tabindex="0">
        <code>
            <div class="ec-line">
                <div class="code">
                    <span style="color:#54B9FF">import</span>
                    <span style="color:#EEF0F9"> </span>
                    <span style="color:#4BF3C8">defineConfig</span>
                    <span style="color:#EEF0F9"> </span>
                    <span style="color:#54B9FF">from</span>
                    <span style="color:#EEF0F9"> </span>
                    <span style="color:#FFD493">asdfasdf</span>
                </div>
            </div>
            <div class="ec-line">
                <div class="code">
                    <span style="color:#54B9FF">export</span>
                    <span style="color:#EEF0F9"> </span>
                    <span style="color:#54B9FF">default</span>
                    <span style="color:#EEF0F9"> </span><span style="color:#00DAEF">defineConfig</span>
                    <span style="color:#EEF0F9"></span>
                </div>
            </div>
            <div class="ec-line">
                <div class="code">
                    <span class="indent">  </span>
                    <span style="color:#4BF3C8">i18n</span>
                    <span style="color:#EEF0F9">: </span>
                </div>
            </div>
            <div class="ec-line">
                <div class="code">
                    <span class="indent">    </span>
                    <span style="color:#4BF3C8">defaultLocale</span>
                    <span style="color:#EEF0F9">: </span>
                    <span style="color:#FFD493">"en"</span>
                    <span style="color:#EEF0F9">,</span>
                </div>
            </div>
            <div class="ec-line">
                <div class="code">
                    <span class="indent">    </span>
                    <span style="color:#4BF3C8">locales</span>
                    <span style="color:#EEF0F9">: </span>
                    <span style="color:#FFD493"></span>
                    <span style="color:#EEF0F9">, </span>
                    <span style="color:#FFD493"></span>
                    <span style="color:#EEF0F9">, </span>
                    <span style="color:#FFD493"></span>
                    <span style="color:#EEF0F9"></span>
                </div>
            </div>
            <div class="ec-line">
                <div class="code">
                    <span class="indent">
                        <span style="color:#EEF0F9">  </span>
                    </span>
                    <span style="color:#EEF0F9"></span>
                </div>
            </div>
            <div class="ec-line">
                <div class="code">
                    <span style="color:#EEF0F9"></span>
                </div>
            </div>
        </code>
    </pre>
</div> -->

<style>
    .expressive-code {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        border-radius: 0.375rem;
        border-width: 1px;
        border-color: rgb(84 88 100);
    }

    .expressive-code pre > code {
        /* all: unset;
        display: block; */
        /* flex: 1 0 100%;
        padding: var(--ec-codePadBlk) 0;
        color: var(--ec-codeFg);  */
        font-weight: 500;
        line-height: 10px;
    }
</style>
