---
import "@fontsource-variable/maven-pro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/MeasurementsTool/measurementstool.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="wip-watermark">WORK IN PROGRESS</div>
		<slot />
	</body>
</html>

<style is:global>
	body {
		font-family: 'Maven Pro Variable', sans-serif;
		/* @apply bg-oxford_blue-300; */
		background-image: linear-gradient(to bottom right, theme('colors.oxford_blue.200'), theme('colors.oxford_blue.500'));
	}

	.wip-watermark{
		position:fixed;
		bottom:5px;
		right:5px;
		opacity:0.5;
		z-index:99;
		@apply bg-oxford_blue-200 text-maize-500;
	}
</style>