---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.astro'
import Footer from '../components/Footer/footer.astro'
import WelcomeCard from '../components/Index/WelcomeCard.astro'
---

<Layout title="Measurements Tool">
	<main>
		<Header/>
		<WelcomeCard/>
		<h1 class="flex justify-center m-72">WORK IN PROGRESS</h1>
		<Footer/>
	</main>
</Layout>
