---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.astro'
import Footer from '../components/Footer/footer.astro'
import WelcomeCard from '../components/Index/WelcomeCard.astro'
import GetStarted from '../components/GetStarted/GetStarted.astro'
import LatestReleases from '../components/LatestReleases/LatestReleases.astro'
---

<Layout title="Measurements Tool">
	<main class="mx-3 md:mx-10 lg:mx-32 xl:mx-48">
		<Header/>
		<WelcomeCard/>
		<GetStarted/>
		<LatestReleases/>
		<Footer/>
	</main>
</Layout>