---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Measurements Tool - Style guide">
    <main class="mx-0 md:mx-72">
        <div class="flex flex-row m-5">
            <div class="flex-col m-5">
                <div class="bg-maize-100"></div>
                <div class="bg-maize-200"></div>
                <div class="bg-maize-300"></div>
                <div class="bg-maize-400"></div>
                <div class="bg-maize-500"></div>
                <div class="bg-maize-600"></div>
                <div class="bg-maize-700"></div>
                <div class="bg-maize-800"></div>
                <div class="bg-maize-900"></div>
            </div>

            <div class="flex-col m-5">
                <div class="bg-oxford_blue-100"></div>
                <div class="bg-oxford_blue-200"></div>
                <div class="bg-oxford_blue-300"></div>
                <div class="bg-oxford_blue-400"></div>
                <div class="bg-oxford_blue-500"></div>
                <div class="bg-oxford_blue-600"></div>
                <div class="bg-oxford_blue-700"></div>
                <div class="bg-oxford_blue-800"></div>
                <div class="bg-oxford_blue-900"></div>
            </div>

            <div class="flex-col m-5">
                <div class="bg-gunmetal-100"></div>
                <div class="bg-gunmetal-200"></div>
                <div class="bg-gunmetal-300"></div>
                <div class="bg-gunmetal-400"></div>
                <div class="bg-gunmetal-500"></div>
                <div class="bg-gunmetal-600"></div>
                <div class="bg-gunmetal-700"></div>
                <div class="bg-gunmetal-800"></div>
                <div class="bg-gunmetal-900"></div>
            </div>

            <div class="flex-col m-5">
                <div class="bg-munsell-100"></div>
                <div class="bg-munsell-200"></div>
                <div class="bg-munsell-300"></div>
                <div class="bg-munsell-400"></div>
                <div class="bg-munsell-500"></div>
                <div class="bg-munsell-600"></div>
                <div class="bg-munsell-700"></div>
                <div class="bg-munsell-800"></div>
                <div class="bg-munsell-900"></div>
            </div>
        </div>
    </main>
</Layout>

<style>
    div {
        width: 50px;
        height: 50px;
    }
</style>
