---

---

<card class="bg-img bg-scroll flex flex-col justify-center text-center mx-3 my-16 py-5 md:m-5 md:p-4 bg-indigo-400 rounded-xl shadow-lg">
    <h1 class="text-3xl font-bold">
        Welcome to the <strong>MeasurementsTool</strong> C# library
    </h1>
    <p class="my-5 text-lg">
        A C# library for interacting with measures. It is designed to be easy to
        use and provide a great experience for developers.
    </p> 
</card>

<style>
    .bg-img {
        background-image: url(public/card-bg.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
