---
---

<card class="bg-munsell overflow-hidden flex flex-col justify-center text-center mx-16 sm:mx-20 md:mx-28 my-16 py-52 md:py-44 bg-indigo-400 rounded-xl shadow-lg">
    <h1 class="text-4xl md:text-5xl md:mx-10 font-bold text-[#FFFFFF]">
        Welcome to <strong class="text-maize">MeasurementsTool</strong> C# library
    </h1>
    <p class=" text-lg mx-5 mt-5 text-[#FFFFFF]">
        A C# library for interacting with measures. It is designed to be easy to use and provide a great experience for developers.
    </p>
</card>

<style>
    card{
        background-image: url(/MeasurementsTool/tape2.jpg);
        background-repeat: no-repeat;      
        height: 39px;
    }
</style>