---
const { version } = Astro.props;
---

<card class="bg-munsell bg-scroll flex flex-col justify-center text-center bg-indigo-400 rounded-xl shadow-lg h-44 w-44 m-1">
    <h3 class="text-[#FFFFFF]">
        {version}
    </h3>
</card>
